<section class="praise-section bg-gradient-animated" id="praise">
  <div class="container praise-container">
    <h2>{{ .Params.praise.heading }}</h2>
    <div class="testimonial-carousel" id="testimonial-carousel">
      {{ range $i, $t := .Site.Data.testimonials }}
      <div class="testimonial{{ if eq $i 0 }} active{{ end }}">
        <blockquote>{{ .quote }}</blockquote>
        <cite>
          <strong>{{ .name }}</strong><br/>
          {{ .title }}
        </cite>
      </div>
      {{ end }}
    </div>
    <div class="carousel-pager">
      {{ range $i, $t := .Site.Data.testimonials }}
      <button class="pager-dot{{ if eq $i 0 }} active{{ end }}" data-index="{{ $i }}" aria-label="Testimonial {{ add $i 1 }}"></button>
      {{ end }}
    </div>
  </div>
</section>
