<section class="press-section">
  <div class="container press-container">
    <p class="press-label">{{ .Params.press.label }}</p>
    <div class="press-logos">
      <img src="/images/press/wsj.svg" alt="The Wall Street Journal" />
      <img src="/images/press/forbes.svg" alt="Forbes" />
      <img src="/images/press/business-insider.svg" alt="Business Insider" />
      <img src="/images/press/entrepreneur.svg" alt="Entrepreneur" />
      <img src="/images/press/grit-daily.svg" alt="Grit Daily" />
      <img src="/images/press/builtin.svg" alt="Builtin" />
      <img src="/images/press/reworked.svg" alt="Reworked" />
      <img src="/images/press/infoq.svg" alt="InfoQueue" />
      <img src="/images/press/techtarget.svg" alt="TechTarget" />
      <img src="/images/press/cio.svg" alt="CIO" />
    </div>
  </div>
</section>
