<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "nav.html" . }}

  <main id="theme-main">
    {{ partial "hero.html" . }}
    {{ partial "subscribe.html" . }}
    {{ partial "about-book.html" . }}
    {{ partial "booksellers.html" . }}
    {{ partial "press-logos.html" . }}
    {{ partial "praise.html" . }}
    {{ partial "author.html" . }}
    {{ partial "podcast.html" . }}
    {{ partial "media.html" . }}
    {{ partial "contact.html" . }}
  </main>

  {{ partial "footer.html" . }}

  <script src="/js/main.js"></script>
</body>
</html>
